body, html {
    height:auto;
    min-height:100%;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.row {
    margin:0;
}

#content {
    margin:0;
    padding:0;
}

/*--- navigation bars ---*/

nav {
    background-image: linear-gradient(white, white, #ffffffad, transparent);
    cursor: crosshair;
    height: 6rem;
    padding:0 !important;
    margin:0;
    
}
.navbar{
    vertical-align:bottom;
    align-items:flex-end;
}
.navbar-header-left{
    text-align:right;
}
.navbar-header-right{
    text-align: left;
}

.navbar-hr {
    width: 100%;
    height: 0.9em;
    background-color:black;
    margin-bottom: 0.4em;
}
.navbar-link {
    color: #000000;
    cursor: crosshair;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    float: none;
    margin:0;
    padding:0;
    bottom:0 !important;
    line-height: 100%;
}
.navbar-link:hover {
    color: rgba(0, 0, 0, 0.20);
    text-decoration: none;
}

.anchor{
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
}

#sidenav{
    cursor: crosshair;
    padding:0 !important;
}

#sidenav .nav-item-lg, 
#sidenav .nav-item-md,
#sidenav .nav-item-sm{
}

#sidenav .nav-item-lg{
    font-size: x-small;
    letter-spacing: 0.1rem;
}
#sidenav .nav-item-md{
    font-size: x-small;
    letter-spacing: 0.1rem;
}
#sidenav .nav-item-sm{
    font-size: x-small;
    letter-spacing: 0.1rem;
}
#sidenav .nav-link{
    cursor: crosshair;
    color: rgba(0, 0, 0, 0.20);
    padding:0;
    padding-right: 15px;
    margin:0;
}

#sidenav .nav-link.active,
#sidenav .nav-link:focus,
#sidenav .nav-link:hover{
    color: white;
    background-color:black;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor:crosshair;
    font-size:15px;
    font-weight:600;
    letter-spacing:0;
}

#sideinfo{
    top:12em;   
    letter-spacing: 0.1rem;
}
#sideinfo .nav-item-md {
    font-size: small;
    font-weight:800;   
}
#sideinfo .nav-item-sm{
    font-size: x-small;
}

#content_body{
    max-width: 100%;
    padding-top:0.7em;
}

#cardnav_container {
    padding: 0rem;
    padding-top: 0rem;
    padding-bottom: 4em;
}

.card {
    border-radius: 0.1em;
    height: 12rem;
    cursor: crosshair;
    text-align: center;
    border-style:solid;
}

.card-img {
    visibility: hidden;
    opacity: 0;
    border-radius: 0;
    height: 100%;
    object-fit:cover;
}
.card-img-overlay{
    letter-spacing: 0.1rem;
    text-align: left;
    padding:0.1em;
}

.card:hover .card-img {
    visibility: visible;
    filter: grayscale(100%);
    opacity: 10;
    transition: all 0.5s ease;
}

.card:hover .card-img-overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.card-title {
    color: #000000;
    cursor: crosshair;
    font-size: smaller;
    font-weight: bold;
    writing-mode:vertical-rl;
}

.card-title:hover{
    color: rgba(0, 0, 0, 0.20);
    text-decoration:none;
    transition: all 0.2s ease;
}

.card-text{
    font-size: 10px;
    font-weight: bold;
    bottom: 0rem;
    position:absolute;
    margin:0;
}



#main_title{
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 0.2rem;
    vertical-align: bottom;
    margin-bottom: 1rem;
}

#section_title{
    font-size: xx-large;
    font-weight: 600;
    letter-spacing: 0.1rem;
    vertical-align: bottom;
    margin-bottom: -1rem;
    font-style:italic;
}

#project_title{
    font-size: larger;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.carousel{
    cursor: crosshair;
    padding-top:1em;
    padding-bottom:2em;
}

.carousel-inner{

}
.carousel-inner .carousel-item {
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

.carousel-control-prev, .carousel-control-next{
    cursor: crosshair;
    opacity: 0;
    filter: alpha(opacity=0); /* IE support */
}

#divider_project{
}
#divider_section{
}
#divider_main{
}
#quote_text{
    font-family: 'Space Mono', monospace, 'Courier New',Arial;
    font-size: medium;
}









