---
# This is a YAML comment. You need a YAML front matter section
# like this to enable Liquid templating for this file.
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39508689-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-39508689-2');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body data-spy="scroll" data-target="#sidenav" data-offset="15">

  <div id='mobile-root'>
    <nav class="navbar sticky-top" id="topnav">
        <div class="container-fluid mt-2">
            <div class="navbar-header-right col">
                <a href="#topnav" class="navbar-link">C L R</a>
            </div>
            <div class="navbar-header-left col">
                <a href="#topnav" class="navbar-link">K N G</a>
            </div>
        </div>

        <div class="container-fluid" id="content">
          <div class="p-0 col">
              <hr class="navbar-hr mt-1 no-margin" data-toggle="collapse" data-target="#navbarToggle" aria-controls="#navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          </div>
        </div>

        <div class="collapse shadow-sm" id="navbarToggle">
            <div class="col no-margin">
                <ul id="togglenav">
                    <li class="nav-item-lg">
                        <a href="#work" class="nav-link active">/WORK</a>
                        <ul class="nav flex-md-column hidden-sm-down">
                            <li class="nav-item-md"><a href="#work_architecture" class="nav-link">/ARCH</a></li>
                            <li class="nav-item-md"><a href="#work_graphic" class="nav-link">/GRAPHIC</a></li>
                            <li class="nav-item-md"><a href="#work_product" class="nav-link">/PRODUCT</a></li>
                        </ul>
                    </li>
                    <li class="nav-item-lg">
                        <a href="#about" class="nav-link">/ABOUT</a>
                    </li>
                    <li class="nav-item-lg">
                        <a href="#prose" class="nav-link">/PROSE</a>
                        <ul class="nav flex-md-column hidden-sm-down">
                            <li class="nav-item-md"><a href="#prose_pub" class="nav-link">/PUB</a></li>
                            <li class="nav-item-md"><a href="#prose_blog" class="nav-link">/BLOG</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    

    <main class="mobile-main">

        <span class="anchor" id="work"></span>
        <p id="main_title">WORK</p>
        <p>
            Projects have no end. They are methodologies from the moment of their inception, little potentials of energy with the capacity to *do work*, path-dependant vectors of intent and implementation.
            This compedium is an archive of projects that bring together context, research, form, and effect as a synthetic narrative - drawing tools and technologies as needed,
            irreverent to discipline, exuberantly wip.
        </p>
        <br>

        <!-- ARCHITECTURE ------------------------------------------------------------------>

        <span class="anchor" id="work_architecture"></span>
        <p id="section_title">ARCHITECTURE</p>
        <br>

        {% for project in site.projects %}
        {% if project.id_section == 'work' %}
        {% if project.id_category == 'architecture' %}
        <hr id="divider_top">
        <span class="anchor" id="{{ project.id_section}}_{{project.id_category}}_{{project.id_project}}"></span>
        <p id="project_title">{{ project.title }}: {{ project.subtitle }}<p />

        <table class="table table-borderless table-sm" id="project_info">
            <tbody>
                <tr><th scope="row">TYPE</th><td>{{ project.type }}</td></tr>
                <tr><th scope="row">YEAR</th><td>{{ project.year }}</td></tr>
                <tr><th scope="row">FOR</th><td>{{ project.for }}</td></tr>
                <tr><th scope="row">SITE</th><td>{{ project.site }}</td></tr>
                <tr><th scope="row">TEAM</th><td>{{ project.team }}</td></tr>
            </tbody>
        </table>

        <div class="no-margin collapse" id="archToggle">
            {{ project.content }}
        </div>

        <hr id="divider_bottom" data-toggle="collapse" data-target="#archToggle" aria-controls="#archToggle" aria-expanded="false" aria-label="Toggle content">

        {% endif %}
        {% endif %}
        {% endfor %}

        <!-- GRAPHIC ------------------------------------------------------------------>

        <span class="anchor" id="work_graphic"></span>
        <p id="section_title">GRAPHIC</p>
        <br>

        {% for project in site.projects %}
        {% if project.id_section == 'work' %}
        {% if project.id_category == 'graphic' %}
        <hr id="divider_top">
        <span class="anchor" id="{{ project.id_section}}_{{project.id_category}}_{{project.id_project}}"></span>
        <p id="project_title">{{ project.title }}: {{ project.subtitle }}<p />

        <table class="table table-borderless table-sm" id="project_info">
            <tbody>
                <tr><th scope="row">TYPE</th><td>{{ project.type }}</td></tr>
                <tr><th scope="row">YEAR</th><td>{{ project.year }}</td></tr>
                <tr><th scope="row">FOR</th><td>{{ project.for }}</td></tr>
                <tr><th scope="row">SITE</th><td>{{ project.site }}</td></tr>
            </tbody>
        </table>

        <div class="no-margin collapse" id="graphicToggle">
            {{ project.content }}
        </div>

        <hr id="divider_bottom" data-toggle="collapse" data-target="#graphicToggle" aria-controls="#graphicToggle" aria-expanded="false" aria-label="Toggle content">
        {% endif %}
        {% endif %}
        {% endfor %}

        <br>
        <hr id="divider_main">
        <br>

        <!-- PRODUCT ------------------------------------------------------------------>

        <span class="anchor" id="work_product"></span>
        <p id="section_title">PRODUCT</p>
        <br>

        {% for project in site.projects %}
        {% if project.id_section == 'work' %}
        {% if project.id_category == 'product' %}
        <hr id="divider_top">
        <span class="anchor" id="{{ project.id_section}}_{{project.id_category}}_{{project.id_project}}"></span>
        <p id="project_title">{{ project.title }}: {{ project.subtitle }}<p />
        <table class="table table-borderless table-sm" id="project_info">
            <tbody>
                <tr><th scope="row">TYPE</th><td>{{ project.type }}</td></tr>
                <tr><th scope="row">YEAR</th><td>{{ project.year }}</td></tr>
                <tr><th scope="row">FOR</th><td>{{ project.for }}</td></tr>
                <tr><th scope="row">SITE</th><td>{{ project.site }}</td></tr>
                <tr><th scope="row">TEAM</th><td>{{ project.team }}</td></tr>
            </tbody>
        </table>

        <div class="no-margin collapse" id="productToggle">
            {{ project.content }}
        </div>

        <hr id="divider_bottom" data-toggle="collapse" data-target="#productToggle" aria-controls="#productToggle" aria-expanded="false" aria-label="Toggle content">
        {% endif %}
        {% endif %}
        {% endfor %}

        <br>
        <hr id="divider_main">
        <br>

        <!-- ABOUT ------------------------------------------------------------------>

        <span class="anchor" id="about"></span>
        <p id="main_title">ABOUT</p>
        <p>
            Hi, I'm Claire.
        </p>
        <br>

        <!-- PROSE ------------------------------------------------------------------>

        <span class="anchor" id="prose"></span>
        <p id="main_title">PROSE</p>
        <p>
            Some words.
        </p>
        <br>

        <!-- PUBLICATION ------------------------------------------------------------------>

        <span class="anchor" id="prose_publication"></span>
        <p id="section_title">PUBLICATION</p>
        <br>

        {% for project in site.projects %}
        {% if project.id_section == 'prose' %}
        {% if project.id_category == 'publication' %}
        <hr id="divider_top">
        <span class="anchor" id="{{ project.id_section}}_{{project.id_category}}_{{project.id_project}}"></span>
        <p id="project_title">{{ project.title }}: {{ project.subtitle }}<p />

        <table class="table table-borderless table-sm" id="project_info">
            <tbody>
                <tr><th scope="row">TYPE</th><td>{{ project.type }}</td></tr>
                <tr><th scope="row">YEAR</th><td>{{ project.year }}</td></tr>
                <tr><th scope="row">FOR</th><td>{{ project.for }}</td></tr>
                <tr><th scope="row">SITE</th><td>{{ project.site }}</td></tr>
            </tbody>
        </table>
        <div class="no-margin collapse" id="pubToggle">
            {{ project.content }}
        </div>

        <hr id="divider_bottom" data-toggle="collapse" data-target="#pubToggle" aria-controls="#pubToggle" aria-expanded="false" aria-label="Toggle content">
        {% endif %}
        {% endif %}
        {% endfor %}

        <br>
        <hr id="divider_main">
        <br>

    </main>

  </div>

  <div id='desktop-root'>

    <!-- Content -->
    <div class="container-fluid h-10" id="content">

        <!-- Top nav -->
        <nav class="navbar sticky-top navbar-inverse" id="topnav">
            <div class="navbar-header-left col-md-2">
                <a href="#work" class="navbar-link">C L R</a>
            </div>
            <div class="col-sm-12 col-md-8 p-0">
                <hr class="navbar-hr">
            </div>
            <div class="navbar-header-right col-md-2">
                <a href="#work" class="navbar-link">K N G</a>
            </div>
        </nav>

        <div class="row h-100">

            <!--Side nav-->
            <aside class="col-md-2">
                <div class="sticky-top" id="sidenav">
                    <ul class="nav flex-md-column flex-row justify-content-between">
                        <li class="nav-item-lg"><a href="#work" class="nav-link active">/WORK</a>
                            <ul class="nav flex-md-column hidden-sm-down">
                                <li class="nav-item-md"><a href="#work_architecture" class="nav-link">/ARCH</a></li>
                                <li class="nav-item-md"><a href="#work_graphic" class="nav-link">/GRAPHIC</a></li>
                                <li class="nav-item-md"><a href="#work_product" class="nav-link">/PRODUCT</a></li>
                            </ul>
                        </li>
                        <li class="nav-item-lg">
                            <a href="#about" class="nav-link">/ABOUT</a>
                        </li>
                        <li class="nav-item-lg">
                            <a href="#prose" class="nav-link">/PROSE</a>
                            <ul class="nav flex-md-column hidden-sm-down">
                                <li class="nav-item-md"><a href="#prose_pub" class="nav-link">/PUB</a></li>
                                <li class="nav-item-md"><a href="#prose_blog" class="nav-link">/BLOG</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>

            <!--MAIN-->
            <main class="col-sm-12 col-md-8 py-5 shadow-sm">
                <div class="row">
                    <div class="col" id="content_body">

                        <span class="anchor" id="work"></span>
                        <p id="main_title">WORK</p>
                        <p>
                            Projects have no end. They are methodologies from the moment of their inception, little potentials of energy with the capacity to *do work*, path-dependant vectors of intent and implementation.
                            This compedium is an archive of projects that bring together context, research, form, and effect as a synthetic narrative - drawing tools and technologies as needed,
                            irreverent to discipline, exuberantly wip.
                        </p>
                        <br>

                        <!-- ARCHITECTURE ------------------------------------------------------------------>

                        <span class="anchor" id="work_architecture"></span>
                        <p id="section_title">ARCHITECTURE</p>
                        <br>
                        
                        {% for project in site.projects %}
                            {% if project.id_section == 'work' %}
                                {% if project.id_category == 'architecture' %}
                                    <hr id="divider_top">
                                    <span class="anchor" id="{{ project.id_section}}_{{project.id_category}}_{{project.id_project}}"></span>
                                    <p id="project_title">{{ project.title }}: {{ project.subtitle }}<p/>

                                    <table class="table table-borderless table-sm" id="project_info">
                                        <tbody>
                                            <tr><th scope="row">TYPE</th><td>{{ project.type }}</td></tr>
                                            <tr><th scope="row">YEAR</th><td>{{ project.year }}</td></tr>
                                            <tr><th scope="row">FOR</th><td>{{ project.for }}</td></tr>
                                            <tr><th scope="row">SITE</th><td>{{ project.site }}</td></tr>
                                            <tr><th scope="row">TEAM</th><td>{{ project.team }}</td></tr>
                                        </tbody>
                                    </table>
                                    
                                    <div class="no-margin collapse" id="archToggle">
                                        {{ project.content }}
                                    </div>

                                    <hr id="divider_bottom" data-toggle="collapse" data-target="#archToggle" aria-controls="#archToggle" aria-expanded="false" aria-label="Toggle content">
                                    
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <!-- GRAPHIC ------------------------------------------------------------------>

                        <span class="anchor" id="work_graphic"></span>
                        <p id="section_title">GRAPHIC</p>
                        <br>
                        
                        {% for project in site.projects %}
                            {% if project.id_section == 'work' %}
                                {% if project.id_category == 'graphic' %}
                                    <hr id="divider_top">
                                    <span class="anchor" id="{{ project.id_section}}_{{project.id_category}}_{{project.id_project}}"></span>
                                    <p id="project_title">{{ project.title }}: {{ project.subtitle }}<p />

                                    <table class="table table-borderless table-sm" id="project_info">
                                        <tbody>
                                            <tr><th scope="row">TYPE</th><td>{{ project.type }}</td></tr>
                                            <tr><th scope="row">YEAR</th><td>{{ project.year }}</td></tr>
                                            <tr><th scope="row">FOR</th><td>{{ project.for }}</td></tr>
                                            <tr><th scope="row">SITE</th><td>{{ project.site }}</td></tr>
                                        </tbody>
                                    </table>

                                    <div class="no-margin collapse" id="graphicToggle">
                                        {{ project.content }}
                                    </div>

                                    <hr id="divider_bottom" data-toggle="collapse" data-target="#graphicToggle" aria-controls="#graphicToggle" aria-expanded="false" aria-label="Toggle content">
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        
                        <br>
                        <hr id="divider_main">
                        <br>

                        <!-- PRODUCT ------------------------------------------------------------------>

                        <span class="anchor" id="work_product"></span>
                        <p id="section_title">PRODUCT</p>
                        <br>
                        
                        {% for project in site.projects %}
                            {% if project.id_section == 'work' %}
                                {% if project.id_category == 'product' %}
                                    <hr id="divider_top">
                                    <span class="anchor" id="{{ project.id_section}}_{{project.id_category}}_{{project.id_project}}"></span>
                                    <p id="project_title">{{ project.title }}: {{ project.subtitle }}<p />
                                    <table class="table table-borderless table-sm" id="project_info">
                                        <tbody>
                                            <tr><th scope="row">TYPE</th><td>{{ project.type }}</td></tr>
                                            <tr><th scope="row">YEAR</th><td>{{ project.year }}</td></tr>
                                            <tr><th scope="row">FOR</th><td>{{ project.for }}</td></tr>
                                            <tr><th scope="row">SITE</th><td>{{ project.site }}</td></tr>
                                            <tr><th scope="row">TEAM</th><td>{{ project.team }}</td></tr>
                                        </tbody>
                                    </table>

                                    <div class="no-margin collapse" id="productToggle">
                                        {{ project.content }}
                                    </div>

                                    <hr id="divider_bottom" data-toggle="collapse" data-target="#productToggle" aria-controls="#productToggle" aria-expanded="false" aria-label="Toggle content">
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <br>
                        <hr id="divider_main">
                        <br>

                        <!-- ABOUT ------------------------------------------------------------------>

                        <span class="anchor" id="about"></span>
                        <p id="main_title">ABOUT</p>
                        <p>
                            Hi, I'm Claire.
                        </p>
                        <br>

                        <!-- PROSE ------------------------------------------------------------------>

                        <span class="anchor" id="prose"></span>
                        <p id="main_title">PROSE</p>
                        <p>
                            Some words.
                        </p>
                        <br>

                        <!-- PUBLICATION ------------------------------------------------------------------>

                        <span class="anchor" id="prose_publication"></span>
                        <p id="section_title">PUBLICATION</p>
                        <br>

                        {% for project in site.projects %}
                            {% if project.id_section == 'prose' %}
                                {% if project.id_category == 'publication' %}
                                    <hr id="divider_top">
                                    <span class="anchor" id="{{ project.id_section}}_{{project.id_category}}_{{project.id_project}}"></span>
                                    <p id="project_title">{{ project.title }}: {{ project.subtitle }}<p />

                                    <table class="table table-borderless table-sm" id="project_info">
                                        <tbody>
                                            <tr><th scope="row">TYPE</th><td>{{ project.type }}</td></tr>
                                            <tr><th scope="row">YEAR</th><td>{{ project.year }}</td></tr>
                                            <tr><th scope="row">FOR</th><td>{{ project.for }}</td></tr>
                                            <tr><th scope="row">SITE</th><td>{{ project.site }}</td></tr>
                                        </tbody>
                                    </table>
                                    <div class="no-margin collapse" id="pubToggle">
                                        {{ project.content }}
                                    </div>

                                    <hr id="divider_bottom" data-toggle="collapse" data-target="#pubToggle" aria-controls="#pubToggle" aria-expanded="false" aria-label="Toggle content">
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <br>
                        <hr id="divider_main">
                        <br>

                    </div>
                </div>
            </main>

            <!--Side info-->
            <aside class="col-md-2">
                <div class="sticky-top" id="sideinfo">
                    <ul class="nav flex-md-column flex-row justify-content-between" id="sideinfo_items">
                        <li class="nav-item-md" id="year"></li>
                        <li class="nav-item-sm" id="time"></li>
                        <li class="nav-item-sm"> los angeles </li>
                    </ul>
                </div>
            </aside>

        </div>
    </div>

  </div>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

<!-- Custom JS -->
<script src="js/main.js"></script>

</html>
