---
# This is a YAML comment. You need a YAML front matter section
# like this to enable Liquid templating for this file.
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39508689-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-39508689-2');
    </script>

    <!-- Tab Info -->
    <link rel="icon" href="images/about/favicon.ico">
    <title>CLAIRE KUANG</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Design Portfolio">
    <meta name="keywords" content="projects, work, thesis, portfolio">
    <meta name="author" content="Claire Kuang">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">

</head>
<body data-spy="scroll" data-target="#sidenav" data-offset="15">
    <h1>Claire Kuang, design feed.</h1>
  <div id='mobile-root'>
    <div id='scroll-to-next-project'>
      ↓ next 
    </div>

    <nav class="navbar sticky-top" id="topnav_mobile">
        <div class="container-fluid mt-2 no-margin" id="topnav_mobile_above_divider">
            <div class="navbar-header-right col">
                <a href="" class="navbar-link">C L R</a>
            </div>
            <div class="navbar-header-left col">
                <a href="" class="navbar-link">K N G</a>
            </div>
        </div>

        <div class="container-fluid" id="mobile_navdivider">
          <div class="p-0 col">
              <hr class="navbar-hr mt-1 no-margin" data-toggle="collapse" data-target="#navbarToggle" aria-controls="#navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          </div>
        </div>

        <div class="collapse shadow-sm" id="navbarToggle">
            <div class="col" id="navbarToggle_content">
                <ul id="togglenav">
                    <li class="nav-item-lg"><a href="#product_mobile" class="nav-link">PRODUCT</a></li>
                    <li class="nav-item-lg"><a href="#computation_mobile" class="nav-link">COMPUTATION</a></li>
                    <li class="nav-item-lg"><a href="#architecture_mobile" class="nav-link">ARCH</a></li>
                    <li class="nav-item-lg"><a href="#graphic_mobile" class="nav-link">GRAPHIC</a></li>
                    <li class="nav-item-lg"><a href="#prose_mobile" class="nav-link">PROSE</a></li>
                    <li class="nav-item-lg"><a href="#about_mobile" class="nav-link">ABOUT</a></li>
                </ul>
            </div>
        </div>

    </nav>


    <main class="mobile-main">

        <br>
        <br>
        <!--
        <p id="quote_main">
            Projects have no end. They are methodologies from inception, little potentials of energy with the capacity to *do work*, path-dependant vectors of intent and implementation.
            This compedium is an archive of projects that bring together context, research, form, and effect as a synthetic narrative - drawing tools and technologies as needed,
            irreverent to discipline, exuberantly wip.
        </p>
        -->
        <hr class="divider_topmost">

        <span class="anchor"></span>

        <!-- PRODUCT ----------------------------------------------------------------->
        {% include projects.html
        mobile=true
        section_id='work'
        category_id='product'
        %}

        <!-- COMPUTATION -------------------------------------------------------------->
        {% include projects.html
        mobile=true
        section_id='work'
        category_id='computation'
        %}

        <!-- ARCHITECTURE ------------------------------------------------------------->
        {% include projects.html
        mobile=true
        section_id='work'
        category_id='architecture'
        %}


        <!-- GRAPHIC ------------------------------------------------------------------>
        {% include projects.html
        mobile=true
        section_id='work'
        category_id='graphic'
        %}


        <!-- PROSE ------------------------------------------------------------------->
        {% include projects.html
        mobile=true
        section_id='work'
        category_id='prose'
        %}


        <!-- ABOUT ------------------------------------------------------------------>

        <span class="anchor" id="about_mobile"></span>
        <p class="section_title">
            <span class='desktop-scroll-varied-sidebar-text'>ABOUT</span>
        </p>
        <p>
            Two parts creative and one part technologist, trained in math and architecture.
            Browse some neat places and spaces I've been on <a class="about-link" href="https://www.instagram.com/clrkng">INSTAGRAM</a>,
            verify my existence on <a class="about-link" href="https://www.facebook.com/claire.kuang">FACEBOOK</a>,
            peek my curriculum vitae on <a class="about-link" href="https://www.linkedin.com/in/clairekuang">LINKEDIN</a>,
            and see how I built this thing on <a class="about-link" href="https://github.com/clairekuang">GITHUB</a>.
            Or, drop a line and just say hi &#x1F642;
        </p>
        <br>

    </main>

  </div>

  <div id='desktop-root'>

    <!-- Content -->
    <div class="container-fluid h-10" id="content">

        <!-- Top nav -->
        <nav class="navbar sticky-top navbar-inverse" id="topnav_desktop">
            <div class="navbar-header-left col-md-2">
                <a href="" class="navbar-link">C L R</a>
            </div>
            <div class="col-sm-12 col-md-8 p-0" id="desktop_navdivider">
                <hr class="navbar-hr">
            </div>
            <div class="navbar-header-right col-md-2">
                <a href="" class="navbar-link">K N G</a>
            </div>
        </nav>

        <div class="row h-100" id="content_main">

            <!--Side nav-->
            <aside class="col-md-2">
                <div class="sticky-top" id="sidenav">
                    <ul id="sidenav-link-list" class="nav flex-md-column flex-row justify-content-between">
                        <li class="nav-item"><a href="#product" class="nav-link active">PRODUCT</a></li>
                        <li class="nav-item"><a href="#computation" class="nav-link">COMPUTATION</a></li>
                        <li class="nav-item"><a href="#architecture" class="nav-link">ARCH</a></li>
                        <li class="nav-item"><a href="#graphic" class="nav-link">GRAPHIC</a></li>
                        <li class="nav-item"><a href="#prose" class="nav-link">PROSE</a></li>
                        <li class="nav-item"><a href="#about" class="nav-link">ABOUT</a></li>
                    </ul>
                    <div id='scroll-varied-section-description'>
                    </div>
                </div>
            </aside>

            <!--MAIN-->
            <main class="col-sm-12 col-md-8 py-5 shadow-sm" id="main-centerwidth">
                <div class="row">
                    <div class="col" id="content_body">

                        <br>
                        <br>
                        <!--
                        <p id="quote_main">
                            Projects have no end. They are methodologies from inception, little potentials of energy with the capacity to *do work*, path-dependant vectors of intent and implementation.
                            This compedium is an archive of projects that bring together context, research, form, and effect as a synthetic narrative - drawing tools and technologies as needed,
                            irreverent to discipline, exuberantly wip.
                        </p>
                        -->
                        <hr class="divider_topmost">

                        <span class="anchor" id="work"></span>

                        <!-- PRODUCT ------------------------------------------------------------------->
                        {% include projects.html
                        mobile=false
                        section_id='work'
                        category_id='product'
                        %}

                        <!-- COMPUTATION --------------------------------------------------------------->
                        {% include projects.html
                        mobile=false
                        section_id='work'
                        category_id='computation'
                        %}


                        <!-- ARCHITECTURE -------------------------------------------------------------->
                        {% include projects.html
                        mobile=false
                        section_id='work'
                        category_id='architecture'
                        %}


                        <!-- GRAPHIC ------------------------------------------------------------------->
                        {% include projects.html
                        mobile=false
                        section_id='work'
                        category_id='graphic'
                        %}


                        <!-- PROSE --------------------------------------------------------------------->
                        {% include projects.html
                        mobile=false
                        section_id='work'
                        category_id='prose'
                        %}


                        <!-- ABOUT -------------------------------------------------------------------->

                        <span class="anchor" id="about"></span>
                        <p class="section_title">
                            <span class='desktop-scroll-varied-sidebar-text'>ABOUT</span>
                        </p>
                        <p>
                            Two parts creative and one part technical, trained in math and architecture.
                            Browse some neat places and spaces I've been on <a class="about-link" href="https://www.instagram.com/clrkng">INSTAGRAM</a>,
                            verify my existence on <a class="about-link" href="https://www.facebook.com/claire.kuang">FACEBOOK</a>,
                            peek my curriculum vitae on <a class="about-link" href="https://www.linkedin.com/in/clairekuang">LINKEDIN</a>,
                            and see how I built this thing on <a class="about-link" href="https://github.com/clairekuang">GITHUB</a>.
                            Or, drop a line and just say hi &#x1F642;
                        </p>

                        <br>

                    </div>
                </div>
            </main>

            <!--Side info-->
            <aside class="col-md-2">
                <div class="sticky-top" id="sideinfo">
                    <ul class="nav flex-md-column flex-row justify-content-between">
                        <li class="nav-item-md" id="year"></li>
                        <li class="nav-item-sm" id="time"></li>
                        <li class="nav-item-sm"> los angeles </li>
                    </ul>

                    <div>
                        <p id ="next-arrow-desktop" class="nav_arrow collapsed"></p>
                    </div>
                </div>
            </aside>

        </div>
    </div>

  </div>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

<!-- Custom JS -->
<script src="js/main.js"></script>

</html>
