<!-- The project you pass must have a list of images defined. -->

<div class="carousel slide carousel-fade" data-ride="carousel" data-interval=1000 id="images_{{project.id_project}}">
    <div class="carousel-inner">
        {% for image in project.images %}
            {% if forloop.first %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
            {% endif %}
                  <div class='four-by-three-container'>
                    <img class="fit-image-to-container" src="{{image.link}}">
                  </div>
                </div>
        {% endfor %}
    </div>
</div>
