<!-- The project you pass must have a list of images defined. -->

<div
  id="images_{{ include.project.id_project }}"
  class="carousel slide carousel-fade"
  data-ride="carousel"
  data-interval=1000
>
    <div class="carousel-inner">
        {% for image in include.project.images %}
            {% if forloop.first %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
            {% endif %}
                    <img class="d-block w-100" src="{{ image.link }}">
                </div>
        {% endfor %}
    </div>
</div>
