{% comment %}
  Required Arguments:
  - mobile (boolean)
  - category_id (string)
  - section_id (string)

  Use it like:

  {% include projects.html
    mobile=true
    section_id='work'
    category_id='architecture'
  %}
{% endcomment %}

{% if include.section_id == 'work' and include.category_id == 'architecture' %}
  {% assign projects = site.projects | sort: 'year' | reverse %}
{% else %}
  {% assign projects = site.projects %}
{% endif %}


<br>


{% if include.section_id == 'prose' %}

  {% if include.mobile %}
    <span class="anchor" id="prose_publication_mobile"></span>
  {% else %}
    <span class="anchor" id="prose"></span>
  {% endif %}

{% else %}

  {% if include.mobile %}
    <!-- For consistency, should possibly refactor the mobile IDs to remove the work_ prefix. -->
    <span class="anchor" id="work_{{ include.category_id }}_mobile"></span>
  {% else %}
    <span class="anchor" id="{{ include.category_id }}"></span>
  {% endif %}

{% endif %}


<p class="section_title">{{ include.category_id | upcase }}</p>
<br>

{% for project in projects %}
  {% if project.section_id == include.section_id and project.category_id == include.category_id %}

    <hr class="divider">

    {% capture carousel_id %}{{ project.category_id }}_{{ project.project_id }}_carousel{% endcapture %}

    <div id='{{ carousel_id }}' class='collapse'>
      {% include carousel.html project=project %}
    </div>

    <span class="anchor" id="{{ project.section_id }}_{{ project.category_id }}_{{ project.project_id }}"></span>

    <p
      class='project_title collapsed'
      data-toggle='collapse'
      data-target='#{{ carousel_id }}'
      href='#{{ carousel_id }}'
    >
      {{ project.title }}: {{ project.subtitle }}
    </p>

    <p/>

    <table class="table table-borderless table-sm" id="project_info">
        <tbody>
            <tr><th scope="row">TYPE</th><td>{{ project.type }}</td></tr>
            <tr><th scope="row">YEAR</th><td>{{ project.year }}</td></tr>
            <tr><th scope="row">FOR</th><td>{{ project.for }}</td></tr>
            <tr><th scope="row">SITE</th><td>{{ project.site }}</td></tr>
            {% if project.team %}
              <tr><th scope="row">TEAM</th><td>{{ project.team }}</td></tr>
            {% endif %}
        </tbody>
    </table>

    {% include project_content_collapse.html project=project %}

    <hr class="divider">
    <br>

  {% endif %}
{% endfor %}
